<html>
<head>
    <title>Login Page
    </title>

<body>
    <center>
    <h1>Login Page</h1>
    <form method="post" action="/">
        <label>Email : </label>   <br>
            <input type="text" placeholder="Enter Email" name="email" required><br>  
            <label>Password : </label>   <br>
            <input type="password" placeholder="Enter Password" name="password" required> <br> <br>
            <button type="submit">Login</button>   
 
    </form>
    <p>not a member? <a href="/reg">Register Here</a></p>
    
    </center>
</body>
</html>