<html>
<head>
    <title>Registration Page
    </title>

<body>
    <center>
    <h1>Registration Page</h1>
    <form method="post" action="/reg">
        <label>First Name</label><br>
        <input type="text" placeholder="Enter First Name " name = "firstname" required><br>
        <label>Last Name</label><br>
        <input type="text" placeholder="Enter Last Name " name = "lastname" required><br>
        <label>Email : </label>   <br>
            <input type="text" placeholder="Enter Email" name="email" required><br>  
            <label>Password : </label>   <br>
            <input type="password" placeholder="Enter Password" name="password" required> <br> 
            <br>
            <button type="submit">Register Myself</button>   
 
    </form>
    <p>already a member! <a href="/">Login Here</a></p>
    </center>
</body>
</html>